input {
  text-align: center;
  width: 60px;
}

::placeholder {
  text-align: left;
  padding: 8px;

}

input:focus::placeholder {
  color: transparent;
}

input:placeholder-shown {
  text-align: left;
}

textarea {
  text-align: left;
}

textarea:placeholder-shown {
  text-align: left;
}

textarea:focus::placeholder {
  color: transparent;
}

textarea::placeholder {
  padding-top:0px;
}

#formBorder {
  width:850px;
}

h3 {
  text-align: left;
}

#email {
  text-align: left;
}
#email:focus {
  outline-color:rgb(71, 182, 205);
}

#password {
  text-align: left;
}


